* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #AFDACB;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #6B4848;
  font-size: 1.5rem;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #6B4848;
}

h1{
  color: #6B4848;
  margin: 15px 0px;
  font-size: 3rem;
}

h2 {
  color: #6B4848;
}

h3{
  color: #6B4848;
}

ul{
  padding-inline-start: 25px;
}

li {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #6B4848;

  list-style-type: square;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.content-container {
  width: 50%;
  margin: 0 auto;
  background-color: #FFFCF0;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;

  overflow: hidden;
}


header a {
  text-decoration: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

nav{
  width: 100%;
}

.diamond-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* rotate and rotate back the text to create diamond shape */
.diamond-shape {
  background: #AFDACB;
  border: 3px solid #FAECBC;
  transform: rotate(45deg);
  
  /* size scale with width of screen, might be unnecessary but looks cool */
  /* also decide to cap the max size so it doesn't look absurd when screen width is too large */
  width: calc(min(8vw, 125px));
  height: calc(min(8vw, 125px));
}

.decorative-diamond-shape {
  background: #AFDACB;
  border: 2px solid #FAECBC;
  transform: rotate(45deg);
  width: calc(min(3vw, 100px));
  height: calc(min(3vw, 100px));
}

.diamond-shape:hover {
  background: #FAECBC;
  border: 3px solid #AFDACB;
  cursor: pointer;
}

.page-name {
  color: #333;
  display: table-cell;
  transform: rotate(-45deg);
  vertical-align: middle;
  text-align: center;
  font-size: calc(min(1.5vw, 20px));
  font-weight: bold;
  line-height: 1.5rem;

  width: calc(min(vw, 125px));
  height: calc(min(8vw, 125px));
}

.avatar-container{
  margin: 1rem;
}

.avatar-circle {
  border-radius: 50%;
  border: 3px solid #C4DCA6;
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.flex-container-row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.flex-container-column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.gallery-container-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-bottom: 30%;
}


.image-square-container {
  width: 14vw;
  height: 14vw;
  position: relative;
  display: inline-block;
  margin: 5px; 
  overflow: hidden;
}

.image-square-container:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 

  /* transition: all 0.5s ease-in-out; */
}

.image-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-inner img {
  /* experimented to be the best way to crop and fit in thumbnail mode*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  min-width: 100%;  
  min-height: 100%;
  object-fit: cover;
}

.width50 {
  width: 50%;
}

.info-container {  
  /* make sure it displays properly on mobile */
  width: 100%;
  padding: 20px;
}

.center-text {
  text-align: center;
  display: block;
}


.mobile-only {
  display: none;
}


.calculator-section {
  max-width: 70%;
  margin: 50px auto;
  background-color: #dfcbba;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  color: #6B4848;
}

.calculator-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* make sure column layout within the groups */
.radio-group, 
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complexity-slider {
  margin-bottom: 0px;
  position: relative;

}

.complexity-slider input[type="range"] {
  width: 101.5%;
  cursor: pointer;
  appearance: none;
  background-color: #d3d3d3;
  height: 6px;
  border-radius: 4px;
  margin-left: -5px;
}

/* target the little circle on the slider */
.complexity-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0078d4;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.complexity-slider input[type="range"]::-webkit-slider-thumb:hover {
  /* dim a bit */
  background: #005fa3;
}

/* still a tiny bit off but fine for now? */
.slider-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.slider-labels span {
  font-size: 14px;
  font-weight: bold;
}



.slider-preview {
  /* position: absolute; */
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: -100px;
  left: -15px;
  visibility: hidden;
  transition: left 0.15s;  /* make moving the bubble a bit smoother */
}



.big-circle-image-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;

  /* move to the right a bit */
  margin-left: 20%;
}

.big-circle-image-inner img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  min-width: 100%;  
  min-height: 100%;
  object-fit: cover;
}

.circle-and-boxes-wrapper {
  position: relative;
  width: 100%;
}

.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 35%;
  height: 20%;
  background: #F9E9E9;
  border: 1px solid #F9E9E9;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 40%;

  font-size: calc(1vw + 1vh); 
  font-size: clamp(12px, 1.5vw, 36px); 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* set opcity */
  opacity: 0.8;
}

.category-box:hover {
  background: #FEE5E5;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;


}


@media only screen and (max-width: 950px) {
  .content-container {
    width: 100vw;
  }

  .mobile-only {
    display: block;
  }

  p{
    font-size: 1rem;
    line-height: 1.5em;
  }

  a{
    font-size: 1rem;
    line-height: 1.5em;
  }

  li{
    font-size: 1rem;
    line-height: 1.5em;
  }

  .menu {
    /* might not be the best practice since it's now detached from header? */
    position: fixed;

    flex-direction: column;

    width: 40%;
    right: 0;
    height: 100vh;
    top: 0;
  }

  .diamond-shape {
    width: 10vh;
    height: 10vh;
  }

  .page-name {
    font-size: 1.6vh;
    line-height: 1.5rem;
    width: 10vh;
    height: 10vh;
  }

  .avatar-circle {
    width: 25vh;
    height: 25vh;
  }

  .flex-container-mobile-column-override {
    margin-left: 5%;
    width: 50%;
    flex-direction: column;
    padding: 0;
  }

  .info-container{
    padding: 0;
  }

  .desktop-only {
    display: none;
  }

  .home-icon{
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
  }

  .diamond-home {
    font-size: 1.5vh;
    width: 7vh;
    height: 7vh;
  }

  .decorative-diamond-shape {
    background: #AFDACB;
    border: 2px solid #FAECBC;
    transform: rotate(45deg);
    width: calc(min(3vh, 100px));
    height: calc(min(3vh, 100px));
  }

}